*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: rgb(190, 233, 255);
}

section.cabeca > h1{
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: bold;
    background-color: rgb(51, 54, 252);
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
}

div{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 15px;
}

button{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.374);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div> h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.ra{
    background-color: red;
    padding: 20px;
}
.ju{
    background-color: red;
    padding: 50px;
}


.valores{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 25em;
    margin-bottom: 5em;
}
.valor1 > p{
    border-bottom: 2px solid #171515;
    padding-bottom: 2px;
}

.valor2 > p{
    border-bottom: 2px solid #171515;
    padding-bottom: 2px;
}

.valor1{
    display: flex;
    flex-direction: column;
    padding: 20px;
   

}
.valor2{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.somar{
    display: flex;
    justify-content: center;
    gap: 25em;
}

.total > p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4em;
}

.finalizar{
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
}