*{
    margin: 0px;
    padding: 0px;
    
}
h1,p{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
div > p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    display: flex;
   
    margin: 10px;
}
.cabeça{
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.valor{
    display: flex;
    gap:170px;
    align-items: center;
    justify-content: center;
}

button.rafael{
    margin-right: 10em;
}